In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import altair

pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('../data/clean_metrics_19_22.csv')

In [9]:
df.sample()

,agency,city,state,legacy_ntd_id,ntd_id,organization_type,reporter_type,primary_uza__population,agency_voms,mode,tos,mode_voms,fare_revenues_per_unlinked_passenger_trip,fare_revenues_per_total_operating_expense_(recovery_ratio),cost_per__hour,passengers_per_hour,cost_per_passenger,cost_per_passenger_mile,fare_revenues_earned,total_operating_expenses,unlinked_passenger_trips,vehicle_revenue_hours,passenger_miles,vehicle_revenue_miles,any_data_questionable?,year,uace_code,uza_name,primary_uza_population,cost_per_hour
1051,New Castle Area Transit Authority,New Castle,PA,3R04-005,3R04-30151,Independent Public Agency or Authority of Tran...,Rural Reporter,0.0,46.0,DR,PT,21.0,1.89,0.1,55.21,3.0,18.15,0.0,10857.0,104292.0,5746.0,1889.0,0.0,25341.0,No,2019,NaN,NaN,NaN,NaN

In [19]:
df.primary_uza_population.isna().sum()

12546

In [16]:
df.groupby('year')['vehicle_revenue_hours'].mean()

year
2019    87074.250543
2020    75907.115147
2021    71182.378095
2022    75589.513294
Name: vehicle_revenue_hours, dtype: float64

In [12]:
df.groupby('year')['cost_per_passenger_mile'].mean()

year
2019    1.163391
2020    1.942026
2021    2.864699
2022    2.903009
Name: cost_per_passenger_mile, dtype: float64

In [13]:
df.groupby('year')['cost_per_passenger'].mean()

year
2019    22.900312
2020    33.409257
2021    51.972589
2022    56.284655
Name: cost_per_passenger, dtype: float64